{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% set entity = entity.Instance %}

{% if ea.crud.currentAction == 'detail' %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Modulo</th>
                <th scope="col">Syllabus</th>
                <th scope="col">Obbligatorio</th>
            </tr>
        </thead>
        <tbody>
        {% for module in entity.CertificationModules %}
            {% set badge_color = module.IsMandatory ? 'success' : 'danger' %}
            {% set badge_text = module.IsMandatory ? 'SI' : 'NO' %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ module.Module.Nome }}</td>
                <td>{{ module.Module.Syllabus }}</td>
                <td>
                    <span class="badge badge-pill badge-{{ badge_color }}">{{ badge_text }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
	{{ field.formattedValue }}
{% endif %}
